<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="">
        </div>
        SevenSoft
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <form class="navbar-form">
        </form>
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link">
                    <i class="material-icons">exit_to_app </i>
                    <p>
                        <a class="logout" href="javascript:void(0)" (click)="logout()">Sair</a>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/dashboard/{{user.id_usuario}}">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/perfil/{{user.id_usuario}}">
                <i class="material-icons">person</i>
                <p>Perfil</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/evento/{{user.id_usuario}}">
                <i class="material-icons">event</i>
                <p>Visualizar Eventos</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/abrir-chamado/{{user.id_usuario}}">
                <i class="material-icons">priority_high</i>
                <p>Registrar Ocorrencia</p>
            </a>
        </li>
    </ul>
</div>