<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-side-bar-dashboard></app-side-bar-dashboard>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-nav-bar-dashboard></app-nav-bar-dashboard>
        <div class="main-content">
            <main role="main">
                <!-- Main jumbotron for a primary marketing message or call to action -->
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-3">Seven Soft 7</h1>
                        <p>Este é a pagina inicial do nosso dashboard, no menu a esquerda, voce irá encontrar
                            direcionadores para as outras pagina do dashboard. Pode navegar entre seu perfil e ter as
                            ultima informações do monitoramento, seus eventos que estao acontecendo, os que vao
                            acontecer junto com as maquina dos jogadores que estao sendo monitoradas</p>
                    </div>
                </div>
                <div class="container">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Perfil</h2>
                            <p>Perfil da organizadora, com as informações gerais</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Eventos</h2>
                            <p>Na aba 'Visualizar Eventos, é a seção disponivel para a organizadora,
                                manter atualizada seus eventos de jogos e com as maquina ligadas para cada evento
                                especifico'</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Acesso:
                                <h6> Arbitro</h6>
                            </h2>
                            <p>Seção restrita ao acesso do arbitro do campeonato da organizadora. Com a credencial
                                de arbitro, nesta seção, ele poderá ver o dashboard com as informações das maquina dos
                                jogadores.
                            </p>
                            <p>
                                <a class="btn btn-secondary" href="#" role="button">Entrar &raquo;</a>
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
                <!-- /container -->
                <div class="container">
                    <div class="row">
                        <div class="card-body">
                            <iframe src="https://discordapp.com/widget?id=580178935308877835&theme=dark" width="350"
                                height="500" allowtransparency="true" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <app-footer-dashboard></app-footer-dashboard>
    </div>
</div>